nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem 3.8rem;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease;
    
    *{
    }

   img{
       width: 6vh;
   }

   // responsivo
    @media screen and (max-width: 1200px) {
        padding: 1.5rem 2.8rem;
    }
}

.search{
    position: relative;
    width: 100%;
    height: 20px;
    justify-self: center;
    margin: 0 2.5rem;
    
    &__input{
        width: 100%;
        border: none;  
        font-size: 18px;
        border-bottom: 1px solid #858585;
        outline: none;
        padding: 2px 5px;
        transition: all .3s ease-in;
    }


    &__input:focus{
        border-bottom: 1px solid rgb(0, 0, 0);

    }

    &__input:focus + &__label, &__input:required:valid + &__label{
        transform: translateY(-120%);
        font-size: 16px;
        color: #8888889f;
        left: 0;
    }

    &__label{
        position: absolute;
        bottom: 0px;
        left: 5px;
        color: #b8b8b8;
        font-size: 20px;
        pointer-events: none;
        transition: all 0.3s ease;
    }
}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__user{
        display: flex;
        align-items: center;
        margin-right: 2rem;
        cursor: pointer;
        padding: .2rem .8rem .2rem .2rem;
        border-radius: 1rem;
        transition: all .3s ease-out;

        .profile-container__user--div{
            width: 40px;
            height: 40px;   
            border-radius: 50%;
            background-color: var(--color-grey);
            margin-right: .8rem;
        }

        span{
            font-weight: 400;
            line-height: 10px;
            color: black;
            transition: all .3s ease;
        }

        &:hover{
            background-color: rgba(240, 240, 240, 0.705);
        }
    }

    &__bag{
        position: relative;
        width: 100%;
        cursor: pointer;
        padding: .2rem;
        transition: all .3s ease;

        &:hover{
            background-color: rgba(240, 240, 240, 0.705);
            border-radius: 20px;
        }
        &--counter{
            position: absolute;
            font-weight: 200;
            left: 42%;
            top: 38%;
        }
    }
}

.wrapper{
    display: none;
  margin: 0 auto;
  position: relative;
  padding: 12px;
  cursor: pointer;
  transition: all 0.4s;

  .circle {
    width: 30px;
    height: 30px;
    position: relative;
  }

  .line {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  }

  .close .top {
    transform: rotate(45deg);
    top: 48%;
    background-color: black;
  }

  .close .middle,
  .close .bottom {
    transform: rotate(-45deg);
    top: 48%;
    background-color: black;
  }

  .top {
    top: 18%;
  }

  .middle {
    top: 48%;
  }

  .bottom {
    top: 78%;
  }

  &:hover {
    .line {
      background-color: var(--color-primary);
    }
  }

  @media (max-width: 1200px) {
    display: block;
  }
}